  * {
    scroll-behavior: smooth;
    border-radius: 2em;
    text-decoration: none;
  }

  :root {
    --dark-blue: #050542;
    --purple: #A675F5;
    --turquoise: #66E5BF;
  }
  
  body {
    color: white;
    background-color: var(--dark-blue);
  }


